/* PAGE & INPUT STYLING */
body {
  background: #5D3FBB;
  background-image: linear-gradient(#BB68D4,#5D3FBB);
  color: #FFF;
}

a {
  color: #CEA7FF;
}

.btn {
  border: 1px solid #808080;
  display: inline-block;
  padding: 5px 10px;
  font-size: 20px;
  position: relative;
  text-align: left;
  border-radius: 3px;
  -webkit-transition: background 600ms ease, color 600ms ease;
  transition: background 600ms ease, color 600ms ease;
}
.btn span {
  border: 1px solid #413a3a;
  display: inline-block;
  padding: 1px 6px;
  font-size: 12px;
  border-radius: 5px;
  vertical-align: middle;
  text-align: center;
  margin-top: -5px;
}

.btn-primary {
  background-image: linear-gradient(#FB941D, #E4724D);
   
  transition: 0.3s;
  opacity: 1;
}

.btn-primary:hover{
  background-image: linear-gradient(#FB8702, #E45729);
  opacity: 0.9;
  outline:0px !important;
    -webkit-appearance:none;
}
.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
}

h1.logo {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 4.5rem;
}

.fill-height{
  position: relative;
   min-height: 100%;
   height:100vh;
 }

#hello{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold
}
.link a, .icons-social a {
	color: #CEA7FF;
	transition: 0.3s;
}
.icons-social a{
	font-size: 2rem;
}
.link a{
  font-size: 1rem;
}
.icons-social a:hover, .link a:hover{
	font-size: 3rem;
  color: #FFF;
  text-decoration: none;
}
