/* PAGE & INPUT STYLING */
body {
  background-image: url('logo.svg');
  background-color:rgb(246, 245, 240);
  color: rgb(66, 49, 69);
}

a {
  color: #CEA7FF;
}

.btn {
  border: 1px solid #808080;
  display: inline-block;
  padding: 5px 10px;
  font-size: 1.5rem;
  position: relative;
  text-align: left;
  border-radius: 3px;
  -webkit-transition: background 600ms ease, color 600ms ease;
  transition: background 600ms ease, color 600ms ease;
}
.btn span {
  border: 1px solid rgb(209, 208, 204);
  display: inline-block;
  padding: 1px 6px;
  font-size: 12px;
  border-radius: 5px;
  vertical-align: middle;
  text-align: center;
  margin-top: -5px;
}

.btn-primary {
  border: none;
  background-image: linear-gradient(rgb(131, 99, 149), rgb(131, 99, 149));
  transition: 0.3s;
  opacity: 1;
  width: 100px;
  max-width: 350px;
  text-align: center;
}

.btn-primary:hover{
  border: none;
  background-image: linear-gradient(rgb(242, 168, 2), rgb(242, 188, 2));
  opacity: 0.9;
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: 1px 1px 2px rgb(216, 168, 0), 0 0 10px rgb(216, 168, 0), 0 0 5px rgb(216, 168, 0);
}
.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
}

h1.logo {
  font-family: 'Aleo', serif;
	font-weight: 600;
  font-size: 4.2rem;
}

h2.tagline {
  font-family: 'Aleo', serif;
	font-weight: 400;
  font-size: 1.7rem;
}

.fill-height{
  position: relative;
   min-height: 100%;
   height:100vh;
 }

#hello{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  width:100%;
}
.link a, .icons-social a {
	color: rgb(131, 99, 149);
	transition: 0.3s;
}
.icons-social a{
	font-size: 2rem;
}
.link a{
  font-size: 1rem;
}
.icons-social a:hover, .link a:hover{
	font-size: 3rem;
  color: rgb(242, 168, 2);
  text-decoration: none;
}

#login {
  margin:0 auto;
  max-width: 200px;
  min-width: 200px;
}

#subscribe {
  margin:0 auto;
  max-width: 300px;
  min-width: 200px;
}