/* PAGE & INPUT STYLING */
body {
  background: #5D3FBB;
  background-image: linear-gradient(#BB68D4,#5D3FBB);
  color: #FFF;
}

a {
  color: #CEA7FF;
}

.btn {
  border: 1px solid #808080;
  display: inline-block;
  padding: 5px 10px;
  font-size: 1.5rem;
  position: relative;
  text-align: left;
  border-radius: 3px;
  -webkit-transition: background 600ms ease, color 600ms ease;
  transition: background 600ms ease, color 600ms ease;
}
.btn span {
  border: 1px solid #413a3a;
  display: inline-block;
  padding: 1px 6px;
  font-size: 12px;
  border-radius: 5px;
  vertical-align: middle;
  text-align: center;
  margin-top: -5px;
}

.btn-primary {
  border: 1px solid #4B3082;
  background-image: linear-gradient(#5D3FBB, #4B3082);
  transition: 0.3s;
  opacity: 1;
  width: 100px;
  max-width: 350px;
  text-align: center;
}

.btn-primary:hover{
  border: 1px solid #FFF;
  background-image: linear-gradient(#5D3FBB, #4B3082);
  opacity: 0.9;
  outline: 0px !important;
  -webkit-appearance: none;
}
.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
}

h1.logo {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
  font-size: 4.2rem;
}

h2.tagline {
	font-weight: 600;
  font-size: 1.7rem;
}

.fill-height{
  position: relative;
   min-height: 100%;
   height:100vh;
 }

#hello{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  width:100%;
}
.link a, .icons-social a {
	color: #CEA7FF;
	transition: 0.3s;
}
.icons-social a{
	font-size: 2rem;
}
.link a{
  font-size: 1rem;
}
.icons-social a:hover, .link a:hover{
	font-size: 3rem;
  color: #FFF;
  text-decoration: none;
}

#login {
  margin:0 auto;
  max-width: 200px;
  min-width: 200px;
}

#subscribe {
  margin:0 auto;
  max-width: 300px;
  min-width: 200px;
}
